<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />

      <label for="message">Enter your message</label>
      <textarea id="message" name="message"></textarea>

      <button type="submit">Submit message</button>
    </form>
  </body>
</html>
