<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Message Board</h1>
    <a href="/new">Add message</a>
    <hr />
    <h2>Messages</h2>
    <ul>
      <% for(let message of messages) { %>
      <li>
        <h3><%= message.user %></h3>
        <p><%= message.text %></p>
        <p><%= message.added %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
