<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body class="container">
    <header>
      <h1>Message Board</h1>
      <a href="/new">Add message</a>
    </header>
    <main>
      <h2>Messages</h2>
      <ul class="container">
        <% if (locals.messages) {%> <% for(let message of messages) { %>
        <li>
          <section>
            <hr />
            <h3><%= message.user %> says</h3>
            <p><i><%= message.text %></i></p>
            <small><%= message.added %></small>
          </section>
        </li>
        <% } %> <% } else { %>
        <p>There are no messages.</p>
        <% } %>
      </ul>
    </main>
  </body>
</html>
